*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    padding: 20px;
}

.lista{
    display: inline-block;
    list-style: none;
}


.float-left{
    float: left;
}


.float-right{
    float: right;
}

.inline{
    display: inline-block;
}

nav ul li{
    list-style: none;
    float: left;
    margin-bottom: 20px;
}

nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding-left: 30px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-decoration: none;
    
}

nav ul li :hover{
    color: #0061FF;
}


.header-float{
    float: right;
    padding-top: 27px;
}

.button1{
    background-color: #0061FF;
    color: white;
    border-color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding: 9px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-right: 30px;
    margin-top: -9px;
    border: 0px;
    margin-left: 20px;
    font-size: 16px;
    
}

button1:hover{
    color: #0061FF;
}


.section1{
    background-color: #a5cbe9;
    height: 800px;

}

.div-sec-1{
    width: 80%;
    margin: 0 auto;
}

.titolo1{
    font-size: 90px;
    font-family: "Ginto Nord", "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding-top: 70px;
}

.p-1{
    padding-top: 40px;
    font-size: 20px;
}

.immagine1{
    height: 600px;
    width: 1000px;
    padding-top: 40px;
}

.button2{
    background-color: #0061FF;
    color: white;
    border-color: #0061FF;
    padding: 9px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
}

.fa-solid{
    padding-top: 30px;
    display: inline-block;
}

.section2{
    width: 60%;
    margin: 0 auto;
    padding-top: 200px;
    height: 1000px;
}

.h1{
    font-size: 40px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    
}

.colonne{
    column-count: 3;
}

.box-1 {
    width: 33%;
    width: calc(100% / 3 -60);
    margin-top: 20px;
    border: solid rgb(179, 179, 179) 1px;
    background-color: #ffffff;
    padding: 6px;
    text-align: center;
    display: inline-block;
    
}
.box-2 {
    width: 33%;
    width: calc(100% / 3 -60);
    margin-top: 20px;
    border: solid rgb(179, 179, 179) 1px;
    background-color: #ffffff;
    padding: 6px;
    text-align: center;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}

.box-3 {
    width: 33%;
    width: calc(100% / 3 -60);
    margin-top: 20px;
    border: solid rgb(179, 179, 179) 1px;
    background-color: #ffffff;
    padding: 6px;
    text-align: center;
    display: inline-block;
} 

.box-1-under {
    width: 33%;
    width: calc(100% / 3 -60);
    margin-top: 20px;
    border: solid rgb(179, 179, 179) 1px;
    background-color: #ffffff;
    padding: 6px;
    text-align: left;
    display: inline-block;
    margin-top: 0px;
    padding-left: 30px;
    border-top: 0px;
    
}

.p-box{
    padding-top: 20px;
}

.p-box-color{
    color: rgb(128, 128, 128);
}

.display{
    display: inline-block;
}

.button3{
    background-color: #0061FF;
    color: white;
    border-color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding: 9px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-right: 30px;
    border: 0px;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 16px;
    margin-left: 50px;
    
}

.hr{
    width: 50px;
    color: rgb(179, 179, 179);
}

.lista-box{
    list-style: none;
    padding-top: 10px;
}

.box-2-under {
    width: 33%;
    width: calc(100% / 3 -60);
    margin-top: 20px;
    border: solid rgb(179, 179, 179) 1px;
    background-color: #ffffff;
    padding: 6px;
    text-align: left;
    display: inline-block;
    margin-top: 0px;
    padding-left: 30px;
    border-top: 0px;
    
}

.box-3-under {
    width: 33%;
    width: calc(100% / 3 -60);
    margin-top: 20px;
    border: solid rgb(179, 179, 179) 1px;
    background-color: #ffffff;
    padding: 6px;
    text-align: left;
    display: inline-block;
    margin-top: 0px;
    padding-left: 30px;
    border-top: 0px;
    
}