*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.logo{
    padding: 20px;
}

.lista{
    display: inline-block;
    list-style: none;
}


.float-left{
    float: left;
}


.float-right{
    float: right;
}

.inline{
    display: inline-block;
}

.clearfix{
    content: "";
    clear: both;
    display: table;
}


.margin{
    width: 80%;
    margin: 0 auto;
}


.fixed{
    position: fixed;
    width: 100%;
    z-index: 100;

}


.back-color{
    background-color:#a5cbe9 ;
}


nav ul li{
    list-style: none;
    float: left;
    margin-bottom: 20px;
}

nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding-left: 30px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-decoration: none;
    
}

nav ul li :hover{
    color: #0061FF;
}


.header-float{
    float: right;
    padding-top: 27px;
}

.button1{
    background-color: #0061FF;
    color: white;
    border-color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding: 9px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-right: 30px;
    margin-top: -9px;
    border: 0px;
    margin-left: 20px;
    font-size: 16px;
    
}

.button1:hover{
    background-color: #438bff;
    cursor: pointer;
}


.section1{
    background-color: #a5cbe9;
    height: 800px;

}

.div-sec-1{
    width: 80%;
    margin: 0 auto;
}

.titolo1{
    font-size: 90px;
    font-family: "Ginto Nord", "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding-top: 70px;
}

.p-1{
    padding-top: 40px;
    font-size: 20px;
}

.immagine1{
    height: 600px;
    width: 1000px;
    padding-top: 40px;
}

.button2{
    background-color: #0061FF;
    color: white;
    border-color: #0061FF;
    padding: 9px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
    border: 1px;
}

.button2:hover{
    background-color: #438bff;
    cursor: pointer;
    border-color: #438bff;
}

.fa-solid{
    padding-top: 30px;
    display: inline-block;
}

.section2{
    width: 60%;
    margin: 0 auto;
    padding-top: 200px;
    height: 1000px;
}


.cerchio{
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid #adadad;
    background-color: white;
    vertical-align: middle;
    margin-left: 10px;
}


.cerchio:hover{
    border: 5px solid #0061FF;
}

.p{
    display: inline-block;
}

.h1{
    font-size: 50px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    
}

.colonne{
    column-count: 3;
}

.box-1 {
    width: 33%;
    width: calc((100% / 3) -40px);
    margin-top: 20px;
    border: solid rgb(179, 179, 179) 1px;
    background-color: #ffffff;
    padding: 6px;
    text-align: center;
    display: inline-block;
    
    
}
.box-2 {
    width: 33%;
    width: calc((100% / 3) -40px);
    margin-top: 20px;
    border: solid rgb(179, 179, 179) 1px;
    background-color: #ffffff;
    padding: 6px;
    text-align: center;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}

.box-3 {
    width: 33%;
    width: calc ((100% / 3) -40px); /*(100% / 3 -60);*/
    margin-top: 20px;
    border: solid rgb(179, 179, 179) 1px;
    background-color: #ffffff;
    padding: 6px;
    text-align: center;
    display: inline-block;
} 

.box-1-under {
    width: 33%;
    width: calc(100% / 3 -60);
    margin-top: 20px;
    border: solid rgb(179, 179, 179) 1px;
    background-color: #ffffff;
    padding: 6px;
    text-align: left;
    display: inline-block;
    margin-top: 0px;
    padding-left: 30px;
    border-top: 0px;
    max-height: 1100px;
    height: 1000px;
    
}

.p-box{
    padding-top: 20px;
}

.p-box-color{
    color: rgb(128, 128, 128);
}

.display{
    display: inline-block;
}

.button3{
    background-color: #0061FF;
    color: white;
    border-color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding: 9px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-right: 30px;
    border: 0px;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 16px;
    margin-left: 50px;
    
}

.button3:hover{
    background-color: #438bff;
    cursor: pointer;
}

.hr{
    width: 50px;
    color: rgb(179, 179, 179);
}

.lista-box{
    padding-top: 10px;
}

.box-2-under {
    width: 33%;
    width: calc(100% / 3 -60);
    margin-top: 20px;
    border: solid rgb(179, 179, 179) 1px;
    background-color: #ffffff;
    padding: 6px;
    text-align: left;
    display: inline-block;
    margin-top: 0px;
    padding-left: 30px;
    border-top: 0px;
    max-height: 1100px;
    height: 1000px;
    
}

.box-3-under {
    width: 33%;
    width: calc(100% / 3 -60);
    margin-top: 20px;
    border: solid rgb(179, 179, 179) 1px;
    background-color: #ffffff;
    padding: 6px;
    text-align: left;
    display: inline-block;
    margin-top: 0px;
    padding-left: 30px;
    border-top: 0px;
    max-height: 1100px;
    height: 1000px;
    
}

.section3{
    width: 60%;
    margin: 0 auto;
    padding-top: 100px;
}


.section4{
    width: 60%;
    margin: 0 auto;
    padding-top: 200px;
}

.team{
    width: calc((100% / 3) -40px);
    margin-top: -100px;
    border: solid rgb(179, 179, 179) 1px;
    background-color: #ffffff;
    padding: 6px;
    text-align: center;
        
}

.box-team-under {
    width: 100%;
    margin-top: 20px;
    border: solid rgb(179, 179, 179) 1px;
    background-color: #ffffff;
    padding: 6px;
    text-align: left;
    display: inline-block;
    margin-top: 0px;
    padding-left: 30px;
    border-top: 0px;
    
}


.button4{
    background-color: #0061FF;
    color: white;
    border-color: #0061FF;
    padding: 9px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 20px;
    display: inline-block;
    margin-left: 720px;
}

.button4:hover{
    background-color: #438bff;
    cursor: pointer;
}

.partner{
    height: 500px;
}

.testo-grande{
    font-family: "Ginto Normal", "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif ;
    font-size: 26px;
    margin-right: 40;
}

.testo-piccolo{
    margin-top: 70px;
    margin-left: 660px;
    font-family: "Whitney, Helvetica Neue, Helvetica, Arial, sans-serif";
    font-size: 20px;
}

.button-partner{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid #000000;
    padding: 9px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 165px;
    
}

.button-partner:hover{
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}


.DXpaper{
    color: #000000;
}


.DXpaper:hover{
    text-decoration: none;
}

.titolo-b{
    font-size: 40px;
}

.dimensione{
    height: 310px;
    padding-top: 50px;
    
}

.padding{
    padding-left: 90px;
    padding-right: 82px;
}

.column{
    column-count: 3;
    column-gap: 80px;
}

.p-size{
    font-family: "Whitney, Helvetica Neue, Helvetica, Arial, sans-serif";
    font-size: 20px;
}

.quadrato-verde{
    background-color: rgb(145, 206, 145);
    height: 50%;
    width: 50%;
    display: inline-block;
    border: 10px solid 
    rgb(199, 247, 199);
    background-image: url(./../img/designit.svg);
    background-size:50%;
    background-repeat: no-repeat;
    background-position: 48%;
    
}


.quadrato-bordo{
    background-color: rgb(65, 28, 28);
    height: 50%;
    width: 50%;
    display: inline-block;
    margin-left: -4px;
    background-image: url(./../img/arizona_state_university.svg);
    background-size:50%;
    background-repeat: no-repeat;
    background-position: 48%;
}

.quadrato-blu{
    background-color: rgb(0, 132, 214);
    height: 50%;
    width: 50%;
    display: inline-block;
    margin-top: -3px;
    background-image: url(./../img/university_of_florida.svg);
    background-size:50%;
    background-repeat: no-repeat;
    background-position: 48%;
}

.quadrato-rosso{
    background-color: red;
    height: 50%;
    width: 50%;
    display: inline-block;
    margin-top: -3px;
    margin-left: -4px;
    background-image: url(./../img/topps.svg);
    background-size:50%;
    background-repeat: no-repeat;
    background-position: 48%;
}

.designit{
    height: 60px;
    margin-bottom: 370px;
    margin-left: -70px;
}

.bg-color{
    background-color: rgb(243, 243, 243);
    width: 100% ;
    height: 600px;
}


.hr1{
    display: inline-block;
    width: 70px;
    color: lightgray;
    margin-top: 100px;
    margin-left: 80px;
}

.overflow {
    height: 40px; 
    overflow-y: auto;
}

.top{
    margin-top: -253px;
}

.quadrato-rosso2{
    background-color: red;
    height: 300px;
    width: 285px;
    display: inline-block;
    background-image: url(./../img/world_bicycle_relief.svg);
    background-size:50%;
    background-repeat: no-repeat;
    background-position: 48%;
    
}

.quadrato-celeste{
    background-color: lightblue;
    height: 300px;
    width: 285px;
    display: inline-block;
    margin-left: -4px;
    margin-top: 1px;
    background-image: url(./../img/hearst_corp.svg);
    background-size:50%;
    background-repeat: no-repeat;
    background-position: 48%;
    
}

.quadrato-blu2{
    background-color: rgb(29, 29, 158);
    height: 300px;
    width: 285px;
    display: inline-block;
    margin-top: -4px;
    background-image: url(./../img/lonely_planet.svg);
    background-size:50%;
    background-repeat: no-repeat;
    background-position: 48%;
    
}

.quadrato-giallo{
    background-color: rgb(255, 230, 0);
    height: 300px;
    width: 285px;
    display: inline-block;
    margin-left: -4px;
    margin-top: -4px;
    background-image: url(./../img/clear_channel.svg);
    background-size:50%;
    background-repeat: no-repeat;
    background-position: 48%;
    
}


.immaginebox1{
    width: 50%;
}

.immaginebox2{
    width: 140px;
    margin-top: 70px;
    margin-left: 60px;
}

.immaginebox3{
    width: 140px;
    margin-top: 90px;
    margin-left: 60px;
}

.fa-check{
    margin-top: -80px;
    color: #0061FF;
}

.fa-li{
    margin-left: -20px;
}


.quadrati-sx{
    width: 30%;
    height: 100%;
}

.quadrati-dx{
    width: 30%;
    height: 100%;
}



.paragrafo{
    text-align: center;
    vertical-align: middle;

}

.h-stile{
    color: rgb(116, 9, 116);
    padding: 125px;
    padding-left: 300px;
}

.section-style{
    background-color: hsl(217, 100%, 87%);
    margin-top: -54px;
}

.last-button{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid hsl(217, 100%, 87%);
    padding: 9px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 150px;
}

.last-button:hover{
    background-color: rgb(236, 236, 236);
    cursor: pointer;
    color: #0061FF;
}

.last-hr{
    margin-top: 40px;
    margin-bottom: 25px;
    color: #eeeeee;
}

.arrow-margin{
    margin-left: 500px;
}

